<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Django</title>
  </head>
  <body>
    <h1 style="color: red;">Hello client 😎</h1>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium
      similique placeat ex consectetur dolore culpa vero vitae odio, nostrum
      praesentium aspernatur corrupti non deserunt. Porro accusantium minima
      delectus architecto fugit odio sunt tenetur impedit officiis atque
      consequatur modi, corporis veniam explicabo magni, ipsum eum? Facere
      asperiores rerum reprehenderit pariatur, tempora debitis, ducimus, qui ut
      iure impedit porro et quo. Optio eos praesentium earum animi amet nemo ab
      et laboriosam. Veritatis magnam minima magni suscipit omnis ipsum tenetur
      accusantium vel sint, molestiae iure doloremque laborum modi animi
      assumenda neque sunt reiciendis, harum incidunt, ducimus accusamus
      consequatur nihil? Minima repudiandae, culpa asperiores quo debitis
      possimus beatae, voluptate reiciendis officia dignissimos iste deleniti
      illo. Illo ad nemo laborum veritatis, quidem quam minima? Nobis
      asperiores, dolorum unde cupiditate repellat fuga corrupti, repudiandae
      sequi mollitia reprehenderit harum tenetur illum delectus, nulla obcaecati
      ex ea nisi ad saepe aliquam nemo laudantium. Provident, deleniti, at
      dolorum, accusantium ea voluptatem numquam dignissimos facilis quisquam a
      veritatis quo sint ratione? Voluptatem hic dicta ab deleniti fugit dolores
      natus beatae neque officiis rem commodi, laboriosam sed eum, in
      praesentium. Sunt quis sed a eligendi numquam veritatis quisquam
      praesentium corporis nam animi recusandae quos necessitatibus repellat
      accusamus, ipsam fuga corrupti atque?lorem500
    </p>

    {{context}}
    <br>
    <br>

    {{names}}
    <br>
    <br>

    {{items}}

    <br>
    <br>

    {{items.pen}}
    {{items.pencil}}
    {{items.eraser}}

    <br>
    <br>

    <a href="/contact/">Contact</a>
  </body>
</html>
